.download {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

.expo {
  margin-right: 3px;
}

.stores {
  height: 20px;
}
