html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

#hero {
  flex-direction: row;
  background-image: url("../../public/background-cloud.svg");
  background-repeat: no-repeat;
  background-color: aliceblue;
}

.linha {
  flex-direction: row;
}

.titulo {
  background-color: bisque;
}

.telas {
  background-color: burlywood;
}
