.realizacao {
  background-color: $grey-lighter;
}

.realizacao__old {
  display: flex;
  flex-direction: row;
  max-width: 40%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-color: $grey-light;
}
